.DS_Store
**/.DS_Store

.idea/
__pycache__
**/__pycache__/
.mypy_cache
.vscode

.env
.venv

.ipynb_checkpoints/
**/.ipynb_checkpoints/*
.jupyter

**/temp.py

./logs/*

# 现在LLM的tokenizer配置文件较大
**/tokenizer.json

# 忽略 data/ 下的所有子目录（递归）
./resources/**/*

# 取消忽略
!./resources/models/models.list
!./resources/models/down_models.py
